In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score

In [ ]:
from sklearn import linear_model

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv('/content/insurance.csv')

In [ ]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in df:
  if df[i].dtype == 'object':
    df[i] = le.fit_transform(df[i])
  else:
    continue

In [ ]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [ ]:
df= df.drop(['region'],axis = 1)

In [ ]:
df.to_csv('New_df.csv')

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
regr = AdaBoostRegressor()

In [ ]:
x=df.drop(['charges'],axis = 1)
y = df['charges'].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [ ]:
regr.fit(x_train, y_train)
y_pred = regr.predict(x_test)
print(y_pred[:65])

[25958.53180481 11679.99208163 44296.25119341 14776.28223281
  9723.10302149  9723.10302149  6036.45018955  6036.45018955
 14776.28223281 23037.82790526  6567.07802189 36557.68989594
 13084.97270611 16837.61048387 11679.99208163  6036.45018955
  6567.07802189 25067.87003114 14776.28223281 16837.61048387
 14776.28223281 14776.28223281  6567.07802189  6567.07802189
 36557.68989594 23037.82790526 11679.99208163  9723.10302149
 11679.99208163  6567.07802189 16837.61048387 11679.99208163
 25958.53180481  9723.10302149  9723.10302149 36557.68989594
 11679.99208163  6036.45018955 14776.28223281  9723.10302149
 44296.25119341 16837.61048387 16837.61048387 11679.99208163
  6567.07802189 13084.97270611 25067.87003114  6567.07802189
 16837.61048387 13084.97270611 16837.61048387 16837.61048387
 16837.61048387 11679.99208163 14776.28223281 13084.97270611
 44296.25119341  6567.07802189 16837.61048387 19503.06485723
 45743.87526968 13084.97270611 16837.61048387  9723.10302149
  9723.10302149]

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
accuracy = r2_score(y_pred,y_test)

In [ ]:
print(accuracy)

0.8254164655126832

In [ ]:
import pickle
pickle.dump(regr,open('new_model.pkl','wb'))